button {
    max-width: 100%;
    max-height: 100%;
    padding: 1%;
}

button:hover {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.button-fill-sml {
    width: 25%;
}

.button-fill-med {
    width: 50%;
}

.button-fill-lar {
    width: 75%;
}

.button-fill-full {
    width: 100%;
}

.button-modern:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.button-modern {
    color: white;
    border: 3px solid #3988ff;
    background-color: #3988ff;
}

.button-minimal {
    background-color: transparent;
    border: 3px solid #3988ff;
}

.button-minimal:hover {
    background-color: #3988ff;
    border: 3px solid #3988ff;
    color: white;
}

.button-rounded {
    border-radius: 20%;
}

.button-circle {
    border-radius: 100%;
}

.button-with-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2%;
}

button img {
    height: 1.5vh;
    width: auto;
}

.button-icon-only {
    background-color: transparent;
    border: none;
}

.button-icon-only:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}